
name: Dotfiles CI

on:
  pull_request:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        env:
          SHELLCHECK_OPTS: -e SC1090 -e SC1091
        with:
          additional_files: bash_profile
